@charset "UTF-8";
/* CSS Document */



:root {
/*--type-color: #ce2455;*/
--type-color: #F4D35E;
--type-image: url('//theme/skeleton-2020/images/pages.svg');
--type-label: 'pages';
}

/* inspirations #ce2455; /*pink*/
/* hardware background: #FAF0CA; /*blond*/
/* pages background: #F4D35E; /*still de grain yellow */
/* field background: #70142c; /*purple*/
/* expertise.background: #0D3B66; /*dark midnight blue */
/* location background: #5C9EAD; /*cadet blue*/
/* education background: #6a785c; /*mossy green**/
/* organisation background: #000005;
/* hanze background: #ff9933; /* to do: check / get the official color*/
/* offwhite  background: #f6efe5; */


* {
	list-style: none;
	box-sizing: border-box;
	padding: 0;
	margin:0;
	background-color: #333; /*Black [80%] #333333 */
	font-family: 'Source Sans Pro', sans-serif;
	color: #ADADAD;
	}

h2, h3 {
	text-transform: inherit;
	font-size: inherit;
	/*border: 1px solid red;*/
	width: 100%;
	}



.container {
	width: 1200px;
	margin: auto;
	} 


.flex-me {
	display: flex;
	align-items: center;
	justify-content: center;
	}




.threebythreegrid {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	grid-template-rows: repeat(3, 50px);
	grid-gap: 6px;
	}

.grid {
	display: grid;
	grid-template-columns: repeat(5, minmax(200px,1fr));
	grid-auto-rows: minmax(180px,200px);
	grid-gap: 10px;
	margin: 10px 0px;
	}

.grid > li { /*generic grid-item */
	
		border-radius: 5px;
		overflow: hidden;
		min-width: 0;      /* NEW; needed for Firefox */
		width:100%;
		height: 100%;
		/*border:3px solid #333;*/ /* geeft een raar randje met de inner div's van de flipcard */
		}

.grid > li.button {
	border:3px solid #333; /* geeft bij een tile een raar randje met de inner div's van de flipcard */
	}

.grid > li.xselected {
	border:3px solid var(--type-color);
	}


