@charset "UTF-8";
/* CSS Document */



	#list-1 > #quick-search { /* 'quick" is actually speech search */
	/* grid-area: 1 / 1 / 1 / 1; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #type-filter {
	/* grid-area: 2 / 4 / 2 / 4; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #home-button {
	/* grid-area: 5 / 4 / 5 / 4; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}
	
	#list-1 > #delete-button {
	/* grid-area: 5 / 1 / 5 / 1; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-2 > #save-button {
	/* grid-area: 1 / 1 / 1 / 1; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #search-button {
	/* grid-area: 1 / 4 / 1 / 4; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #next-item {
	/* grid-area: 3 / 3 / 3 / 3; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #previous-item {
	/* grid-area: 2 / 3 / 2 / 3; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}

	#list-1 > #refresh-button {
	/* grid-area: 1 / 2 / 1 / 2; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}
	#list-1 > #help-button {
	/* grid-area: 1 / 5 / 1 / 5; 	/* grid-row-start / grid-column-start / grid-row-end / grid-column-end */
	}




	li.tile.featured {
		grid-column-end: span 2;
		grid-row-end: span 2;
		}
	

	div.item-title, div.item-desc {
		display: none;
		}

	
	li.item-title, li.item-desc, div.item-code { /* inherits a generic style in grid.css */
		display: flex;
		height: 100%;
		align-items: center; /*flex-end;*/
		justify-content: center;
		
		text-transform: uppercase;
		background: inherit;
		}

	li.item-title {
		font-size: 20pt;
		}


	li.item-desc {
		align-items: flex-start;
		font-size: 12pt;
		text-align: justify;
		grid-column-end: span 2;
		grid-row-end: span 2;
		}
	